*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    height:96px;
    padding-left: 1rem;
   padding-right: 1rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(1, 1, 46, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;;
}

ul{
    display:flex'\
    flex-direction:row:column

}
    li{
        margin-left: 2rem;
        list-style: none;
    }
footer{
    background-color: black;
    color:white

}
h1{
    font-size:44px;

}
h2{
    font-size:36px;
    margin-top: 2rem;
}
h3{
    font-size:30px;
    margin-top: 1.8rem;
}
h4{
    font-size:26px;
}
p{
    color:gray;
    margin-top: 1rem;
}
footer{
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: black;
    color:white;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}
footer p{
    color:white;
    
}
article{
    max-width: 960px;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4rem;
}